<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd"
	default-init-method="initialize" default-destroy-method="shutdown">
	<bean id="book" class="com.myapps.spring.Book">
		<constructor-arg type="String" value="My life in tibet"/>
		<constructor-arg type="String" value="Edwin Dingle"/>
		<constructor-arg type="String" value="Philosophy"/>
		<property name="available" value="off"/>
	</bean>
	<bean id="library" class="com.myapps.spring.Library">
		<property name="books">
			<list>
				<ref bean="book1" />
				<ref bean="book2" />
				<ref bean="book3" />
			</list>
		</property>
	</bean>
	<bean id="book1" class="com.myapps.spring.Book">
		<property name="name" value="The wings of fire" />
		<property name="author" value="Dr. A.P.J. Abdul Kalam" />
		<property name="category" value="Autobiographies" />
		<property name="available" value="true" />
	</bean>
	<bean id="book2" class="com.myapps.spring.Book">
		<property name="name" value="Such a long journey" />
		<property name="author" value="Rohinton Mistry" />
		<property name="category" value="Fiction" />
		<property name="available" value="true" />
	</bean>
	<bean id="book3" class="com.myapps.spring.Book">
		<property name="name" value="Mein Kampf" />
		<property name="author" value="Adolf Hitler" />
		<property name="category" value="Autobiographies" />
		<property name="available" value="true" />
	</bean>
</beans>